body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
}

.logo-container {
  margin-right: 20px;
}

.logo-container img {
  width: 80px;
  height: auto; /* Ensure aspect ratio is maintained */
  transition: transform 0.3s ease-in-out;
}

.logo-container img:hover {
  transform: translateX(100px); /* Adjust the distance as needed */
}

.logo-container img {
  animation: moveLogo 2s linear infinite alternate; /* Adjust the duration as needed */
}

@keyframes moveLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px); /* Adjust the distance as needed */
  }
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-items li {
  margin: 0 15px;
  padding: 5px;
}

.nav-items li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 10px;
  width: 270px;
  height: 400px;
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents content from overflowing */
  transition: transform 0.3s ease-in-out;
}

.res-card:hover {
  transform: scale(1.05);
  border: 1px solid #333;
}


.res-card img {
  width: 100%;
  height: 40%;
  border-radius: 5px;
}

.res-card h3,
.res-card h4 {
  margin-top: 5px;
  overflow: hidden; /* Prevents text from overflowing */
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  text-overflow: ellipsis; /* Adds an ellipsis (...) when text overflows */
}

.search {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.res-logo {
  padding: 5px;
  width: 190px;
}

.filter-btn{
  margin: 10px;
  cursor: pointer;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
  padding: 10px;
  width: 270px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevents content from overflowing */
  transition: transform 0.3s ease-in-out;
}

.login-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #2980b9;
}

.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}